[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spl-core = ">=4.5"
pytest = "*"
pytest-env = "*"
pipenv = "*"
testfixtures = "*"
black = "*"
pip-system-certs = "*"

[requires]
python_version = "3.11"
